extends layout
block content
    //ocean theme.
    div#bluetheme

        .panel.panel-default(style='width:80%; margin-left:10%; background-color:cornflowerblue;')
            .panel-heading(style="background-image:url('/images/ocean.jpg'); background-repeat:no-repeat;background-size:cover;"  )
                h1.
                    Artists Directory
            .panel-body(style="background-image:url('/images/ocean.jpg'); background-repeat:no-repeat;background-size:cover;" )
                //render data from collection

                each art in artworks
                    a(name = '#{art.title}' id ='#{art.title}')
                    div.tategallery
                        div(id='#{art.title}')
                            h2=art.title
                            strong Artists:
                            | #{art.all_artists}
                            br
                            strong Aquisition Year:
                            | #{art.acquisitionYear}
                            br
                            strong URL:
                            a(href='#{art.url}' class="artwork_url")= art.url
                            br
                            Strong Medium:
                            | #{art.medium}
                            br
                            strong Dimensions:
                            | #{art.dimensions}
                            br
                            a(href="#{art.url}")
                                img(src="#{art.thumbnailUrl}" class ="artwork_image")